<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-4 pt-5">
      <!-- Get application name -->
      <div class="col">
        <app-request title="Get application name" protection="anonymous" [request]="getApplicationName"></app-request>
      </div>
      <!-- Get current user -->
      <div class="col">
        <app-request title="Get current user" protection="authenticated" [request]="getCurrentUser"></app-request>
      </div>
    </div>
  
    <div class="row row-cols-1 row-cols-lg-2 g-4 pt-4">
      <!-- Get articles -->
      <div class="col">
        <app-request title="Get articles" protection="authenticated" [request]="getArticles"></app-request>
      </div>
      <!-- Get article -->
      <div class="col">
        <app-request title="Get article" protection="authenticated" [request]="getArticle" [requestData]="getArticleData"></app-request>
      </div>
      <!-- Add article -->
      <div class="col">
        <app-request title="Add article" protection="authenticated" [request]="addArticle" [requestData]="addArticleData"></app-request>
      </div>
      <!-- Remove article -->
      <div class="col">
        <app-request title="Remove article" protection="authenticated" [request]="removeArticle" [requestData]="removeArticleData"></app-request>
      </div>
    </div>
</div>