<div *ngIf="s3Objects.length != 0" class="container" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">IsDir</th>
          </tr>
        </thead>
        <tbody *ngFor="let s3Object of s3Objects; let indexOfElement=index">
          <tr>
            <th scope="row">{{indexOfElement + 1 }}</th>
            <td>{{s3Object.path}}</td>
            <td>{{s3Object.size}}</td>
            <td>{{s3Object.isDir}}</td>
          </tr>
        </tbody>
    </table>
</div>