<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    <form #f="ngForm" (ngSubmit)="rename(f)" novalidate>
        <div class="form-group">
            <label for="newPath">Name</label>
            <div class ="input-group">
                <input id="newPath" name="newPath" class="form-control" [(ngModel)]="newName"> 
            </div>
        </div>
        <button data-dismiss="modal" type="submit" class="btn btn-danger">Ok</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
</div>