
<form #fileForm="ngForm">
    <div class="input-group col-4 align-self-center m-3">
        <input 
            type="text" 
            class="form-control" 
            placeholder="File name" 
            aria-label="Recipient's username" 
            aria-describedby="basic-addon2" 
            [(ngModel)] ="fileName"
            name="fileName"
        />
        <button (click)="onSubmit()" type="button" class="btn btn-primary">Search</button>
      </div>
</form>
<app-file-table [s3Objects] = "s3Objects"></app-file-table>


